body{
    background-color: rgb(32, 36, 49);
    margin: 0;
}

img{
    height: 60%;
}

.divv{
    background-color: rgba(0, 0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    -webkit-box-reflect: below 5px linear-gradiant
    (to bottom, rgba(0,0,0,0), rgba(0,0,0,4));
}

.fulldiv{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10%;
}

.img:hover{
    height: 130px;
}

.divvo1:hover{
    background: rgb(0, 171, 250);
    box-shadow: 0 0 5px rgb(0, 171, 250),
    0 0 25px rgb(0, 171, 250),
    0 0 50px rgb(0, 171, 250),
    0 0 200px rgb(0, 171, 250);
    width: 120px;
    height: 120px;
}

.divvo2:hover{
    background: rgb(66, 6, 6);
    box-shadow: 0 0 5px rgb(66, 6, 6),
    0 0 25px rgb(66, 6, 6),
    0 0 50px rgb(66, 6, 6),
    0 0 200px rgb(66, 6, 6);
    width: 120px;
    height: 120px;
}

.divvo3:hover{
    background: rgb(136, 75, 4);
    box-shadow: 0 0 5px rgb(136, 75, 4),
    0 0 25px rgb(136, 75, 4),
    0 0 50px rgb(136, 75, 4),
    0 0 200px rgb(136, 75, 4);
    width: 120px;
    height: 120px;
}

.dirr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 140px;
}